.speech-done
{
	/*background-color: gray;*/
	color: gray;
}

.speech-upcoming
{
	/*background-color: lightblue;*/
}

.speech-active
{
	/*background-color: orange;*/
	font-weight: bold;
	font-size: 1.2em;
}

.numberCircle {
    border-radius: 50%;
    /*behavior: url(PIE.htc);*/  /* remove if you don't care about IE8 */ /*todo*/

    width: 18px;
    height: 18px;
    /*padding: 4px;*/
    
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    
    font-size: 0.8em;
    font-weight: normal;
    /*font: 32px Arial, sans-serif;*/
    display: inline-block;
}


body, html, .mainContainer, .mainRow {
  height: 100%;
  overflow: hidden;
}

.mainRow > div {
	height: 100%;
}

body {
    padding-top: 50px;
}

/*::-webkit-scrollbar { 
    display: none; 
}*/

.speakerslist-details
{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style: none;
    margin: 0;
    padding: 0;
}

.clearafter:after {
  content:"";
  display:block;
  clear:both;
}