<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MUN Tool</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angucomplete-alt/angucomplete-alt.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="muntoolApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="navigationController">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img src="images/logo.png" style="margin-top: -15px; height: inherit; display:inline-block">
            ETH MUN</a>
        </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#" id="new-speakers-list" ng-click="newSpeakersList()">New Speakers List</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Motion <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" ng-click="modCaucus()">Moderated Caucus</a></li>
            <li><a href="#" ng-click="unmodCaucus()">Unmoderated Caucus</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tools <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Timer TODO</a></li>
            <li><a href="#">Poll TODO</a></li>
            <li><a href="#">Row call TODO</a></li>
            <li><a href="#" ng-click="reset()">Reset</a></li>
          </ul>
        </li>
        <li><a href="#">Show Rules</a></li> <!-- TODO -->
      </ul>
      </div> <!-- /.navbar-collapse -->
 


      </div> <!-- ./container-floid > -->
    </nav>

    <div class="container-fluid mainContainer">
      <div class="row mainRow">

        <!-- Attendance Block -->
        <div class="col-md-4" ng-controller="attendanceListController">
          <h2>Attendance List</h2>
          <div class="padded-row">
            
            <!-- Autocomplete Dropdown -->
            <div angucomplete-alt id="attendance-list-add-autocomplete" placeholder="Add to attendance list..." maxlength="10" pause="100" selected-object="newAttendee" local-data="attendeesAutocomplete" search-fields="name" title-field="name" minlength="1" input-class="form-control" match-class="highlight" override-suggestions="true" clear-selected="true"></div>

          </div><!-- /padded-row -->
          <div style="height: 70%; overflow-y: scroll;">
            <ul id="attendance-list">
              <li ng-repeat="a in attendees"> {{a.name}} <div class="numberCircle">{{a.getNumberOfSpeeches()}}</div>

              <div class="numberCircle">{{a.getNumberOfSpeechesOnCurrentList()}}
              </div>

              <!-- <span class="remove glyphicon glyphicon-remove" aria-hidden="true" ng-click="removeattendee(a.attendeeId)"></span> -->
              </li>
            </ul>
          </div>

          <p>Attendance: {{numAtendees}}</p>
          <p>Simple Majority: {{simplemajority}}</p>

        </div> <!-- /Attendance Block -->

        <!-- Speakers List Block -->
        <div class="col-md-5" ng-controller="speakersListController"> 
          <h2>Speakers List</h2>

          <p>
            <div class="dropdown">
              <button id="speakers-lists-dropdown" class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">{{currentSpeakersList.name}}<span class="caret"></span></button>
              <ul id="speakers-lists-dropdown-menu" class="dropdown-menu" role="menu" aria-labelledby="speakers-lists-dropdown">
                <li ng-repeat="s in speakersLists" role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="changeSpeakersList(event, s)" data-speakerslist-id="{{s.name}}">{{s.name}}</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" id="speakers-lists-dropdown-menu-new-list" tabindex="-1" href="#" ng-click="newSpeakersList()">Add new Speakers List</a></li>
              </ul>
            </div>
          </p>
          <p>
            Speech Duration: {{currentSpeakersList.duration}} s<br>
            Speeches Done: {{currentSpeakersList.speechesDone()}}<br>
            Speeches Queued: {{currentSpeakersList.speechesUpcoming()}}<br>
            <span ng-show="currentSpeakersList.hasTimelimit()">Speaking List Time: {{currentSpeakersList.listDuration/60}} min<br>
            Speeches Remaining: {{currentSpeakersList.speechesRemaining()}}<br></span>
            <span ng-show="currentSpeakersList.isMotion()">Moderated Caucus by {{getProposer()}}<br>
            </span>
            <button ng-show="currentSpeakersList.isExtendable()" class="btn" type="button" ng-click="openExtend()">Extend</button>
          </p>

          <script type="text/ng-template" id="extendSpeaerslistModal.html">
            <div class="modal-header">
              <h3 class="modal-title">Extend Speakerslist</h3>
            </div>
            <div class="modal-body">
              <p>
                Speech Duration: {{currentSpeakersList.duration}} s<br>
                Spaking List Time: {{currentSpeakersList.listDuration/60}} min<br>
                Moderated Caucus by {{getProposer()}}<br>
              </p>
              <div class="form-group">
                  <label for="new-motion-duration">Duration [min]:</label>
                  <input id="new-motion-duration" type="number" class="form-control" ng-model="duration">
                </div>
                <div class="form-group"
                  <label for="new-speakers-list-name">Votes in Favor:</label>
                  <input ng-disabled="overwhelmingMajority" id="motion-vote-favor" type="number" class="form-control" ng-model="inFavor">
                   <label for="new-speakers-list-name">overwhelming majority</label>
                  <input type="checkbox" ng-model="overwhelmingMajority">
                </div>
                <p ng-show="inFavor != undefined && inFavor >= simpleMajority && !overwhelmingMajority">Motion passes with {{inFavor}} in favor.</p>
                <p ng-show="overwhelmingMajority">Motion passes with an overwhelming majority.</p>
                <p ng-show="!overwhelmingMajority && inFavor < simpleMajority">Motion fails.</p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" type="button" ng-click="vote()">Confirm Vote</button>
              <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
          </script>


          <script type="text/ng-template" id="newSpeakersListModal.html">
            <div class="modal-header">
              <h3 class="modal-title">New Speakerslist</h3>
            </div>
            <div class="modal-body">
              <div class="form-group"
                <label for="new-speakers-list-name">Name:</label>
                <input id="new-speakers-list-name" placeholder="Speakers List Name..." type="text" class="form-control" ng-model="name">
              </div>  
              <div class="form-group">
                <label for="new-speakers-list-duration">Speech duration [s]:</label>
                <input id="new-speakers-list-duration" type="number" class="form-control" ng-model="duration">
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" type="button" ng-click="ok()">OK</button> <!-- todo -->
              <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
          </script>


         <div>
            <div angucomplete-alt id="speakers-list-add-speaker-autocomplete" placeholder="Add to speakers list..." maxlength="10" pause="100" selected-object="newSpeaker" local-data="attendees" search-fields="name" title-field="name" minlength="1" input-class="form-control" match-class="highlight" clear-selected="true"></div>
        </div>

        <div style="height: 40%; overflow-y: scroll;">
          <ul id="speakers-list">
            <li ng-repeat="s in currentSpeakersList.getSpeeches()" ng-class="getSpeakerClass(s)">{{s.speaker.name}} <div class="numberCircle">{{s.speaker.getNumberOfSpeeches()}}</div>

            <div class="numberCircle">{{s.speaker.getNumberOfSpeechesOnCurrentList()}}
            </div></li>
          </ul>
        </div>

        </div> <!-- /Speakers List Block -->

        <!-- Speech Block -->
        <div class="col-md-3" ng-controller="speechController">

          <h2>Speech</h2>
          <span style="font-size: 3em" id="speakers-list-control-timer">{{timeLeft}}</span>
          <p style="font-size: 1.2em">Current Speaker: {{currentSpeaker.name}}</p>
          <p style="font-size: 1.2em">Next Speaker: {{nextSpeaker.name}}</p>
          <div id="speakers-list-control">
            <div class="btn-group">
              <button id="speakers-list-control-next-speaker" class="btn btn-default " type="button" data-toggle="dropdown" aria-expanded="false" ng-disabled="startNextDisabled" ng-click="startNext()">Start Next</button>

              <button id="speakers-list-control-reset-speech" class="btn btn-default " type="button" data-toggle="dropdown" aria-expanded="false" ng-disabled="resetDisabled" ng-click="resetSpeech()"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span></button>
              <!-- TODO
              <button id="speakers-list-control-back" class="btn btn-default " type="button" data-toggle="dropdown" aria-expanded="false" ng-disabled="backDisabled"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>

              <button id="speakers-list-control-forward" class="btn btn-default " type="button" data-toggle="dropdown" aria-expanded="false" ng-disabled="forwardDisabled"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
              -->
            </div>
          </div>

        </div><!-- /Speech Block -->
    </div>

    <!-- <div class="row">
        <div class="col-md-8"></div>

        <!-- Motion Block - - >
        <div class="col-md-4" ng-controller="motionController">
          
          <h2>Motions</h2>

          <div> <!-- Possible Motions - - >
            <h3>Possible Motions</h3>
            <ul>
              <li ng-click="modCaucus()">Motion for Moderated Caucus</li>
              <li ng-click="unmodCaucus()">Motion for Unmoderated Caucus</li>
            </ul>
          </div>
          
          <div> <!-- Unmod - - >
          </div>

          <div> <!-- Moderated - - >
          </div>

        </div><!-- /Motion Block - - >

      </div> <!-- /row - - > -->


<script type="text/ng-template" id="newCaucusModal.html">
            <div class="modal-header">
              <h3 class="modal-title">New Caucus</h3>
            </div>
            <div class="modal-body">
              <div class="btn-group">
                  <label class="btn btn-default">
                      <input type="radio" id="type_mc" name="Moderated Caucus" ng-value="{{MotionTypes.MODERATED_CAUCUS}}"
                        ng-model="caucusType" /> Moderated Caucus
                  </label>
                  <label class="btn btn-default">
                      <input type="radio" id="type_uc" name="Unmoderated Caucus" ng-value="{{MotionTypes.UNMODERATED_CAUCUS}}"
                        ng-model="caucusType" /> Unmoderated Caucus
                  </label>
              </div>
              <div class="form-group">
                <label for="new-motion-proposed-by">Proposed by:</label>
                <div angucomplete-alt id="new-motion-proposed-by" placeholder="Proposed by" maxlength="10" pause="100" selected-object="proposedBy" local-data="attendees" search-fields="name" title-field="name" minlength="1" input-class="form-control" match-class="highlight"></div>
              </div>  
              <div class="form-group">
                <label for="new-motion-topic">Topic:</label>
                <input id="new-motion-topic" placeholder="Topic..." type="text" class="form-control" ng-model="topic">
              </div>  
              <div class="form-group">
                <label for="new-motion-duration">Duration [min]:</label>
                <input id="new-motion-duration" type="number" class="form-control" ng-model="duration">
              </div>
              <div class="form-group" ng-show="caucusType == MotionTypes.MODERATED_CAUCUS">
                <label for="new-motion-speech-duration">Speech duration [s]:</label>
                <input id="new-motion-speech-duration" type="number" class="form-control" ng-model="speechDuration">
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" type="button" ng-click="add()">Add</button>
              <button class="btn btn-primary" type="button" ng-click="cancel('vote')">Vote</button>
              <button class="btn btn-warning" type="button" ng-click="cancel('cancel')">Cancel</button>
            </div>
          </script>
          <script type="text/ng-template" id="motionsVoteModal.html">
            <div class="modal-header">
              <h3 class="modal-title">Motions</h3>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-4">
                  <ul>
                    <li ng-repeat="m in openMotions" ng-click="changeMotion(m.id)">{{m.topic}}</li>
                  </ul>
                </div>
                <div class="col-md-5">
                  <div ng-show="currentMotion == undefined">
                    <p>Currently no open Motions.</p>
                  </div>
                  <div ng-show="currentMotion != undefined">
                    <h4>{{currentMotion.topic}}</h4>
                    <p>{{currentMotion.typeText}}<br>
                       proposed by {{currentMotion.proposedByText}}<br>
                       <b>Duration: </b> {{currentMotion.listDuration}} min <br>
                       <span ng-show="currentMotion.type == MotionTypes.MODERATED_CAUCUS"><b>Indivudal Speakers Time: </b> {{currentMotion.speechDuration}} s</span>
                    </p>
                    <div class="form-group"
                      <label for="new-speakers-list-name">Votes in Favor:</label>
                      <input ng-disabled="overwhelmingMajority" id="motion-vote-favor" type="number" class="form-control" ng-model="inFavor">
                       <label for="new-speakers-list-name">overwhelming majority</label>
                      <input type="checkbox" ng-model="overwhelmingMajority">
                    </div>
                    <p ng-show="inFavor != undefined && inFavor >= simpleMajority && !overwhelmingMajority">Motion passes with {{inFavor}} in favor.</p>
                    <p ng-show="overwhelmingMajority">Motion passes with an overwhelming majority.</p>
                    <p ng-show="!overwhelmingMajority && inFavor < simpleMajority">Motion fails.</p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div ng-show="currentMotion != undefined">
                    <button class="btn btn-primary" type="button" ng-click="vote()">Confirm Vote</button>
                    <button class="btn btn-primary" type="button" ng-click="delete()">Delete</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
            </div>
          </script>
          <script type="text/ng-template" id="unmoderatedCaucusModal.html">
            <div class="modal-header">
              <h3 class="modal-title">Unmoderated Caucus</h3>
            </div>
            <div class="modal-body">
              <div style="text-align: center;">
                <span style="font-size: 5em">{{timeLeft}}</span>
              </div>
              <button ng-show="notExtended" class="btn" type="button" ng-click="openExtend()">Extend</button>
              <div ng-show="extensionOpen">
                <h4>Extension</h4> 
                <div class="form-group">
                  <label for="new-motion-duration">Duration [min]:</label>
                  <input id="new-motion-duration" type="number" class="form-control" ng-model="duration">
                </div>
                <div class="form-group"
                  <label for="new-speakers-list-name">Votes in Favor:</label>
                  <input ng-disabled="overwhelmingMajority" id="motion-vote-favor" type="number" class="form-control" ng-model="inFavor">
                   <label for="new-speakers-list-name">overwhelming majority</label>
                  <input type="checkbox" ng-model="overwhelmingMajority">
                </div>
                <button class="btn btn-primary" type="button" ng-click="vote()">Confirm Vote</button>
                <p ng-show="inFavor != undefined && inFavor >= simpleMajority && !overwhelmingMajority">Motion passes with {{inFavor}} in favor.</p>
                <p ng-show="overwhelmingMajority">Motion passes with an overwhelming majority.</p>
                <p ng-show="!overwhelmingMajority && inFavor < simpleMajority">Motion fails.</p>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
            </div>
          </script>



    </div> <!-- /container -->


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angucomplete-alt/angucomplete-alt.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/members.js"></script>
    <script src="scripts/munToolLib.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <!-- endbuild -->
</body>
</html>
